<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>axios</title>
</head>

<body>
  <div id="app">
    <form @submit.prevent="onSubmit">
      <input type="text" v-model="todo.title">
      <input type="checkbox" v-model="todo.completed">
      <input type="submit" value="提交">
    </form>
    <!-- {{todos}} -->
    <ul>
      <li v-for="item in todos">
        <h1>{{item.title}}</h1>
        <p v-if="item.completed">{{item.completed}}</p>
      </li>
    </ul>


  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="12app_fetch.js"></script>
</body>

</html>