span {
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

.changeColor span {
  background: green;
}

.changelength span:after {
  content: "alvis";
  margin-left: 10px;
}