<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			body,
			ul,
			li {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.list-body li:nth-child(even) {
				background: yellow;
			}
			.list-body li:nth-child(odd) {
				background: #fff;
			}
			.list-body li:hover {
				background: green;
			}
			.list-body li.checkedColor {
				background: green;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="css/baidu.css" />
		<script src="../vue_developer.js"></script>
	</head>

	<body>
		<div class="wrap" id="app">
			<div class="baidu">
				<ul class="list list-head">
					<li>
						<div>
							<input v-model="isCheckedAll" type="checkbox" />全选
						</div>
						<span>歌单</span>
						<span>歌手</span>
						<span>专辑</span>
					</li>
				</ul>
				<ul class="list list-body">
					<li 
						v-for="item in songList"
					>
						<div>
							<input v-model="item.checked" type="checkbox">
						</div>
						<span>{{item.song}}</span>
						<span>{{item.name}}</span>
						<span>{{item.album}}</span>
					</li>
					
				</ul>
				<div class="select">
					<span class="selectAll">
						<span>统计：</span>
					</span>
				</div>
			</div>
		</div>
		<script>
			let data = [
				{
					id:Date.now()+Math.random(),
					name: '邓紫棋',
					song: '泡沫',
					checked: true,
					album: 10
				},
				{
					id:Date.now()+Math.random(),
					name: '王杰',
					song: '泡沫',
					checked: true,
					album: 10
				},
				{
					id:Date.now()+Math.random(),
					name: '吴青峰',
					song: '起风了',
					checked: true,
					album: 10
				}
			]
			let vm=new Vue({
				el:"#app",
				data:{
					songList:data
				},
				computed: {
					/*
						对于计算属性操作
						只给计算属性一个函数，默认这个函数是在取值的时候触发的，所以这个函数是get
						1.设置值
						set(){}
						2.取值
						get(){}
					*/
					isCheckedAll:{
						get(){
							let p1 = this.songList.every((item)=>{
								return item.checked
							})
							return p1
						},
						set(newValue){
							this.songList.forEach(item =>
								item.checked=newValue
							);
						}
					}
				}
			})	
		</script>
	</body>

</html>
